:root {
    font-size: 100%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0 auto;
}

html {
    height: 100dvh;
}

body {
    background-color: hsla(203, 65%, 12%, 1);
    padding: 2rem 1.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    display: flex;
    height: 370px;
    width: 370px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 0%, 96%, 1);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 1.2em;
}

.dice-container button {
    font-size: 1.5rem;
    font-weight: 550;
    font-family: inherit;
    color: #2B283A;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    width: 2.8rem;
    height: 2.8rem;
    border: unset;
    cursor: pointer;
}

#roll-button {
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    color: white;
    background-color: #5035FF;
    width: 6.5rem;
    border: unset;
    border-radius: 6px;
    padding: 9px;
    margin-top: 4.4rem;
}